* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Share Tech Mono', 'Courier New', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000;
  color: #ff0000;
  overflow-x: hidden;
}

code {
  font-family: 'Share Tech Mono', 'Courier New', monospace;
}
